# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# PyInstaller
*.spec

# Unit test / coverage reports
.coverage*
htmlcov/
.tox/
.pytest_cache/

# IDE settings
.vscode/
.idea/
*.swp

# Runtime logs
logs/
